* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  margin: 0px;

}

nav {
  top: 0;
    left: 0;
    right: 0;
    border: 1em;
    position: fixed;
}

nav, footer {
  background-color: #4a0055;
  min-height: 50px;
  color: white;
}

.projects-p{
  text-align: left;
  line-height: 1.5em;
}

.project1:nth-child(even), .worktogether {
    background-color: #EBEBE5;
    
    display: flex;
    flex-direction: column;
}

.aboutme-p{
  text-align: left;
  padding: .25em;
}

.laptopsize{
  display:none;
}

.logo {
  background-color: white;
    float: left;
    margin: .5rem;
    padding: .5rem;
    width: 20%;
    height: 20%;
}

.container {
  margin: .5rem;
  float: right;
}

.screenshot {
  height: 100%;
  width: 100%;
  border: grey solid 1px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffe775;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

div.menu {
  width: 200px;
  background-color: #ffe775;
  position: absolute;
  top: -300px;
  transition: .3s all;
  right: 0;
}

div.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    right: 0;
    size: 3em;
}

.menu_show {
  top: 55px !important;

}

header {
  display: flex;
  color: black;
  font-family: 'Old Standard TT', serif;
  background-color: white;
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.headshot {
  align-self: center;
  padding: 1rem;
  width: 25%; 
  height: 25%;
}

section {
  padding: 2em;
}

h2 {
  font-family: 'Old Standard TT', serif;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.project1,  {
  background-color: #ffe775;
  
}

.aboutme  {
  background-color: #4a0055;
  color: #EBEBE5;
  line-height: 1.5em
}

.fs {
  text-decoration: none;
  color: #4a0055;
  padding: .25em;
}


.links {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.fa {
  color: white;
  text-decoration: none;
  font-size: 2.5em !important;
}

.email {
  color: white;
  text-decoration: none;
  font-size: 2.5em !important;
}


@media screen and (min-width: 1000px){
  .container {
    display: none;
  }

  .laptopsize {
    display:flex;
    justify-content: space-around;
    padding: 2em;
  }


  a.item_menu{
    color: black;
    text-decoration: none;
    size: 3em !important;

  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }

  header {
    flex-direction: column;
  }

  .screenshot {
  height: 70%;
  width: 70%;
  border: grey solid 1px;
  }

  .fa {
  color: white;
  text-decoration: none;
  font-size: 3.75em !important;
}

.email {
  color: white;
  text-decoration: none;
  font-size: 3.75em !important;
}

}

